<% include ../partials/header %>

<div class="bg-contact3">
    <div class="container-contact3">
      <div class="wrap-contact3">
        <form class="contact3-form validate-form" action="/movies/<%= movie._id %>?_method=PUT" method="POST">
          <span class="contact3-form-title">
            Edit <%= movie.name %>
          </span>
          

          <div class="wrap-input3 validate-input" data-validate="Name is required">
            <input class="input3" type="text" name="movie[name]" value="<%= movie.name %>">
            <span class="focus-input3"></span>
          </div>
          
          <div class="wrap-input3 validate-input" data-validate="Image URL is required">
            <input class="input3" type="text" name="movie[image]" value="<%= movie.image %>">
            <span class="focus-input3"></span>
          </div>
          
          <div class="wrap-input3 validate-input" data-validate="Description is required">
            <input class="input3" type="text" name="movie[description]" value="<%= movie.description %>">
            <span class="focus-input3"></span>
          </div>
          
          <div class="wrap-input3 validate-input" data-validate="Movie URL is required">
            <input class="input3" type="text" name="movie[trailer]" value="<%= movie.trailer%>">
            <span class="focus-input3"></span>
          </div>
          
          <div class="wrap-input3 validate-input" data-validate="Stars are required">
            <input class="input3" type="text" name="movie[stars]" value="<%= movie.stars%>">
            <span class="focus-input3"></span>
          </div>
          
          <div class="wrap-input3 validate-input" data-validate="Year is required">
            <input class="input3" type="text" name="movie[year]" value="<%= movie.year%>">
            <span class="focus-input3"></span>
          </div>

           <div class="wrap-input3 validate-input" data-validate="Director is required">
            <input class="input3" type="text" name="movie[director]" value="<%= movie.director%>">
            <span class="focus-input3"></span>
          </div>
          
          <div class="container-contact3-form-btn">
            <button class="contact3-form-btn">
              Edit
            </button>
          </div>
        </form>
      </div>
  </div>
</div>


<!-- old code -->
<!-- <div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= movie.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/movies/<%= movie._id %>?_method=PUT" method="POST">
                <div class="form-group">
					<label for="name">Name</label>
                    <input class="form-control" type="text" name="movie[name]" value="<%= movie.name %>">

                
                </div>
                <div class="form-group">
					<label for="image">Image</label>
                    <input class="form-control" type="text" name="movie[image]" value="<%= movie.image %>">
                </div>
                <div class="form-group">
					<label for="description">Description</label>
                    <input class="form-control" type="text" name="movie[description]" value="<%= movie.description %>">
                </div>
				
				<div class="form-group">
					<label for="stars">Stars</label>
                    <input class="form-control" type="text" name="movie[stars]" value="<%= movie.stars%>">
                </div>
				
				<div class="form-group">
					<label for="year">Year</label>
                    <input class="form-control" type="text" name="movie[year]" value="<%= movie.year%>">
                </div>
				
				<div class="form-group">
					<label for="director">Director</label>
                    <input class="form-control" type="text" name="movie[director]" value="<%= movie.director%>">
                </div>
				
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/movies">Go Back</a>
        </div>
    </div>
</div> -->
<% include ../partials/footer %>


 <!-- go back a folder. it like using cd .. -->
<!--movie[name] group it into one object-->